.decoration__wrapper {
  min-height: 100vh;
  background: radial-gradient(
    343px at 46.3% 47.5%,
    rgb(242, 242, 242) 0%,
    rgb(241, 241, 241) 72.9%
  );
}

.button__wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
