.decoration__wrapper {
  min-height: 100vh;
  background-color: #74ebd5;
  background-image: linear-gradient(328deg, #74ebd5 0%, #9face6 100%);
}

.button__wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
