.decorationWrapper {
  min-height: 100vh;
  background-image: url('/src/layout/main-background2.jpg');
  background-position: center right;
  background-repeat: no-repeat;
}

.main_title {
  margin: 0;
  color: #252340;
  font-family: 'Libre Baskerville', serif;
  font-size: 6.5em;
  padding: 20vh 0 0 20vh;
}
.main_title__decoration {
  color: #4a3aff;
}
.content {
  text-decoration: none;
  color: #252340;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3em;
  padding-top: 16px;
  padding-left: 20vh;
  line-height: 1.5em;
}
.link {
  display: block;
  color: #0c547f;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  margin-left: 20vh;
  margin-top: 3vh;
  border-radius: 10px;
  transition: 0.4s;
}
