.decorationWrapper {
  background-color: #f7f8fb;
  min-height: 100vh;
}
.head_wrapper {
  display: flex;
}
.content_wrapper {
  display: flex;
}
.main_page_link {
  margin: 0;
  color: #002033;
  font-family: 'Libre Baskerville', serif;
  padding: 20px 10px 0 20px;
  font-size: 2.5em;
  text-decoration: none;
  font-weight: bold;
}
.head_menu_link {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.6em;
  text-decoration: none;
  color: rgba(0, 32, 51, 0.6);
  align-self: flex-end;
  padding: 10px;
}
.head_menu_link:hover {
  color: #002033;
  transition: 0.4s;
}
.error__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  margin: 28vh auto auto auto;
  width: 30%;
  height: 25%;
  border-radius: 10px;
}

.error__message {
  font-size: 1.5em;
  margin-top: 0;
  font-family: 'Playfair Display', serif;
}

.error__link {
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'Playfair Display', serif;
}
